 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



<h1 style = "
        text-align: center;
"><%= title%></h1>

<table class="responsive-table centered highlight">
    <thead>
        <tr>
            <%for(let col of cols){%>
            <th><%=col%></th>
            <%}%>
        </tr>
    </thead>
    <tbody>
        
        <button class="btn waves-effect waves-light" type="submit" name="action">
            <i class="material-icons right">enviar</i>
          </button>
          
          <%for(let funcionario of funcionarios){%>
            <tr>
                <%for(let prop in funcionario){%>
                    <td><%=funcionario[prop]%></td>
                <%}%>
            </tr>
        <%}%>
    </tbody>


</table>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>